@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.largefont {
    font-size: 1rem;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header.preview > .date:before {
    left: 0;
}

header.preview > .date:after {
    right: 0;
}

header.preview > .date:before, header.preview > .date:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: calc(50% - 6rem);
    border-top: solid 2px #eeeeee;
}


#main>.posts>article p {
    text-align: center;
}

.textcenter {
    text-align: center;
}

#footer, #navPanelToggle {
    display: none;
}

#main {
    z-index: unset;
    background-color: #151823d9;
}

#main:after {
    position: absolute;
    content: "";
    top: -16.5%;
    left: -15%;
    right: 0;
    z-index: -1;
    height: 133%;
    width: 130%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
}

//html body.is-loading #main:after {
//    animation: animateGlow 10s ease infinite !important;
//}

html body #main:after {
    animation: animateGlow 10s ease infinite !important;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body.is-loading #wrapper.fade-in:before {
     opacity: 0;
}

body p, body span {
    font-family: 'Open Sans', Georgia, serif;
    font-weight: 400;
}

h1, h2, h3, body {
    color: #d4d4d4;
}

h2 a {
    color: #d4d4d4;
}

a.button {
    color: #d4d4d4 !important;
    box-shadow: inset 0 0 0 2px #d4d4d4;
}

#main>.posts>article {
    border-color: #212931;
}

code {
    font-family: monospace;
    font-size: 0.625rem;
}


body i {
    color: #18bfef !important;
}

/*  */

#main.homepage {
    background-color: rgb(255, 0, 0, 0);
}

#main.homepage>.posts>article {
    //background-color: #151823d9;
    background-color: #08090dd9;
    //margin-bottom: 0.0625%;
    margin-bottom: 0.1%;
}

@media only screen and (min-width: 737px) {
    #main.homepage>.posts>article {
        border: 0;
    }

    #main.homepage>.posts>article:nth-child(odd) {
        margin-right: 0.125%;
    }

    #main.homepage>.posts>* {
        width: 49.9375%;
    }
}

@media only screen and (max-width: 736px) {
    #main.homepage>.posts>article {
        border: 0;
        margin-bottom: .25%;
    }
}

/*  */

#main.homepage>.posts {
    border: 0;
}

#main.homepage>.post.featured {
    border: 0;
    //margin-bottom: 0.0625%;
    margin-bottom: 0.1%;
    margin-right: 0.0625%;
    //background-color: #151823d9;
    background-color: #08090dd9;
}


#main.homepage>.post.featured>header.major {
    margin: 0 0 1rem 0;
}

#main.homepage>.post.featured>header.major h2 {
    font-size: 3rem;
    font-style: italic;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 3rem 0 1.1rem 0;
    display: inline-block;
}

#main.homepage>.post.featured>header.major h2:after {
    content: "";
    width: 294px;
    height: 18px;
    background: url(../../images/header-underline.png) no-repeat;
    top: 9.75rem;
    left: 30.5rem;
    position: absolute;
    display: inline-block;
}

#main.homepage>.post.featured>header p {
    text-align: left;
    font-size: 1.25rem;
    line-height: 2.3rem;
    display: inline-block;
    margin: 0 8rem 2rem 0;
}

#header {
    background-image: url(../../images/pixel-header.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 2rem;
    background-size: contain;
}

#copyright {
    margin: 0;
    padding: 4rem 0 8rem 0;
    background-image: url(../../images/pixel-footer.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    max-width: unset;
    width: unset;
}


#main > section > article:nth-child(1) {
    background-image: url(../../images/pixel-article-1.png);
    background-repeat: no-repeat;
    background-position-x: 0rem;
    background-position-y: 9rem;
    background-size: contain;
}

#main > section > article:nth-child(2) {
    background-image: url(../../images/pixel-article-2.png);
    background-repeat: no-repeat;
    background-position-x: 0rem;
    background-position-y: 28rem;
    background-size: contain;
}

#main > section > article:nth-child(5) {
    background-image: url(../../images/pixel-article-3.png);
    background-repeat: no-repeat;
    background-position-x: -0.7rem;
    background-position-y: 7rem;
    background-size: contain;
}

#main > section > article:nth-child(4) {
    background-image: url(../../images/pixel-article-4.png);
    background-repeat: no-repeat;
    background-position-x: 0rem;
    background-position-y: 30rem;
    background-size: contain;
}

#main > section > article:nth-child(6) {
    background-image: url(../../images/pixel-article-5.png);
    background-repeat: no-repeat;
    background-position-x: 0rem;
    background-position-y: 30rem;
    background-size: contain;
}

#main > section > article:nth-child(10) {
    background-image: url(../../images/pixel-article-2.png);
    background-repeat: no-repeat;
    background-position-x: 0rem;
    background-position-y: 28rem;
    background-size: contain;
}

#main > section > article:nth-child(7) {
    background-image: url(../../images/pixel-article-4.png);
    background-repeat: no-repeat;
    background-position-x: 0rem;
    background-position-y: 30rem;
    background-size: contain;
}

#main > section > article:nth-child(9) {
    background-image: url(../../images/pixel-article-5.png);
    background-repeat: no-repeat;
    background-position-x: 0rem;
    background-position-y: 30rem;
    background-size: contain;
}

strong, b {
    color: #18bfef !important;
}

body li, body li b {
    font-family: 'Open Sans', Georgia, serif;
    font-weight: 400;
}

#main > article > header  p > span {
    top: -0.75rem;
}

 #main > article > header > span.image.left {
    margin: 2rem 2rem 2rem 2rem;
    transform: scale(1);
 }

#main.homepage>.post.featured a {
    color:  #ffffff;
}

@media screen and (min-width: 737px) {
    #main.homepage>.post.featured {
        padding: 1rem 2rem 4rem 2rem;
    }
}

@media screen and (min-width: 1681px) {
    #main.homepage>.post.featured {
        padding: 1rem 2rem 2rem 2rem;
    }

    #main > article > header > span.image.left {
        margin: 2rem 2rem 2rem 2rem;
        transform: scale(1.25);
    }
}

@media screen and (max-width: 736px) {
    #main.homepage>.post.featured {
        margin-bottom: .25%;
        margin-right: 0;
    }
}

@media screen and (max-width: 1085px) {
    #main > article > header > span.image.left {
        float: unset;
    }

    #main.homepage>.post.featured>header.major h2:after {
        //content: "";
        //width: 294px;
        //height: 18px;
        //background: url(../../images/header-underline.png) no-repeat;
        top: 32.75rem;
        left: 15.5rem;
        //position: absolute;
        //display: inline-block;
    }

}

@media screen and (max-width: 736px) {
    #main > article > header > span.image.left {
        margin: 2rem 2rem 2rem 2rem;
        transform: scale(1.25);
    }
}

@media screen and (min-width: 1681px) {
    #main.homepage>.post.featured>header.major h2:after {
        transform: scale(1.25);
    }
}

@media screen and (min-width: 981px) and (max-width: 1085px) {
    #main.homepage>.post.featured {
        padding: 1rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 980px) {
    #main.homepage>.post.featured {
        padding: 2rem 3rem 2rem 3rem;
    }

    #main.homepage>.post.featured>header.major h2:after {
        top: 1rem;
        left: -18rem;
        position: relative;
    }
}

@media screen and (max-width: 846px) {
    #main.homepage>.post.featured>header.major h2:after {
        top: 0rem;
        left: 0rem;
        //position: relative;
    }



    #main.homepage>.post.featured>header p {
        margin: 0 4rem 2rem 0;
    }
        
}

@media screen and (max-width: 600px) {
    #main.homepage>.post.featured>header.major h2 {
        font-size: 2rem;
    }
}


@media screen and (max-width: 736px) {
    #main > section > article:nth-child(1) {
        background-position-x: 0rem;
        background-position-y: 7rem;
    }

    #main > section > article:nth-child(2) {
        background-position-x: 0rem;
        background-position-y: 24rem;
    }

    #main > section > article:nth-child(5) {
        background-position-x: -1rem;
        background-position-y: 5rem;
    }

    #main > section > article:nth-child(4) {
        background-position-x: 0rem;
        background-position-y: 27rem;
    }

    #main > section > article:nth-child(6) {
        background-position-x: 0rem;
        background-position-y: 28rem;
    }

    #main > section > article:nth-child(10) {
        background-position-x: 0rem;
        background-position-y: 24rem;
    }

    #main > section > article:nth-child(7) {
        background-position-x: 0rem;
        background-position-y: 27rem;
    }

    #main > section > article:nth-child(9) {
        background-position-x: 0rem;
        background-position-y: 27rem;
    }
}

@supports (-webkit-touch-callout: none) {
   /* CSS specific to iOS devices */ 

    #main.homepage>.post.featured {
        background-color: #151823;
    }

    #main.homepage>.posts>article {
        background-color: #151823;
    }

    a.button {
        max-width: 8rem;
    }

    #main {
        background-color: #151823;
    }
}