@import 'libs/vars';
@import 'libs/functions';
@import 'libs/breakpoints';

.post-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.post-wrapper {
    background: #ff00ff; // TODO: ERROR CHECKING - REMOVE THIS ON LAUNCH

    display: flex;
    flex-flow: column;
    height: 100%;

    display: contents;
}

.post-header {
    background: _palette(accent);
    flex: 0 1 auto;
    text-align: center;
}

.post-header p {
    margin: 2em;
}

.post-body {
    background: _palette(post-bg-main);

    @include breakpoint('>medium') {
        display: flex;
        flex: 1;
    }
}

.post-footer {
    background: #FFFF00;
    flex: 0 1 40px;
}

.post-body-col-mid {
    @include breakpoint('>medium') {
        flex: 0 0 12em;
        min-width: _size(content-width);
    }

    padding: 2em;
}

.post-body-col-left,
.post-body-col-right {
    flex: 1;
}

.post-body-col-left {
    order: -1;
}

.post-body-col-left,
.post-body-col-right {
    background: _palette(post-bg-side);

    @include breakpoint('<=medium') {
        display: none;
    }
}

.post-content {
    text-align: center;
}

.post-md p {
    text-align: start;
}

.post-md blockquote {
    border-left: solid 2px _palette(accent);
    margin: 2rem 4rem 0 8rem;
    padding: 2rem 0 2rem 2rem;
}

.post-md h2::before {
    background: _palette(accent);
    border-radius: 0.5rem;
    content: "";
    display: block;
    height: 0.5rem;
    position: relative;
    width: 0.5rem;
    top:  8.6rem;
    left: 4.5rem;
}

.post-md h3::before {
    background: _palette(accent);
    content: "";
    display: block;
    height: 2px;
    position: relative;
    left: 5rem;
    width: 3rem;
    top: 5.08rem;
}

.post-md h2,
.post-md h3 {
    font-size: 3em;
    line-height: 1em;
    max-width: 26rem;
    //min-width: 26rem;
    //width: 26rem;
}

.post-md h2 {
    margin-bottom: 0;
    //line-height: 5rem;
    //font-size: 1.25rem;
    font-weight: 800;
    margin: 0 0 0.25rem 0;
    -webkit-text-stroke: 0.1rem black;
    color: rgba(0,0,0,0);
    //font-size: 5rem;
    text-align: start;
}

.post-md h3 {
    margin-bottom: 0;
    -webkit-text-stroke: 0;
    color: black;
    //line-height: 5rem;
    //font-size: 1.25rem;
    font-weight: 800;
    margin: 0 0 0.25rem 0;
    //-webkit-text-stroke: 0.1rem black;
    //color: rgba(0,0,0,0);
    //font-size: 5rem;
    text-align: start;
}

//.post-md blockquote::before {
//    background: _palette(accent);
//    content: "";
//    display: block;
//    position: absolute;
//    left: auto;
//    height: 29rem;
//    width: 2px;
//    top: 25.1rem;
//    margin-left: -2rem;
//    height: 18rem;
//}

.post-md hr {
   //background: _palette(accent);
    border-bottom: solid 2px _palette(accent);
    //background: #49fcd4;
    margin: 0 4rem 0rem 8rem;
}

//.post-md blockquote p:first-child {
//    //margin-top: -4rem;
//}
//
.post-md blockquote p:last-child {
   margin-bottom: 0rem;
}

.post-md h2:nth-of-type(even),
.post-md h3:nth-of-type(even) {
    text-align: end;
    margin-right: 1em;
}


.post-md .gallery {
    padding: 1rem 2rem 2rem 12rem;
    margin: 0rem 4rem 4rem 0rem;
    width: unset;
    border-right: solid 2px _palette(accent);
}

.post-md .gallery a img {
    height: unset;
    min-height: unset;
}

.post-md .gallery::after {
    background: _palette(accent);
    border-radius: 0.5rem;
    content: "";
    display: block;
    height: 0.5rem;
    position: relative;
    width: 0.5rem;
    top: 2.4rem;
    left: calc(100% - -1.8rem);
}


#lightboxBackdrop .close_1x3s325 {
    padding: 0;
    top: -4px;
    right: 8px;
}

#lightboxBackdrop .close_1x3s325 svg {
    padding: 5px;
}